# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Environment & Secrets
.env
.env.*
*.pem
*.key
*.token

# System & OS
.DS_Store
Thumbs.db
